@model PizzaAppplication.Models.PizzaModel

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<div>

    <dl class="row">
        <dt class="col-sm-2" style="visibility:hidden">
            @Html.DisplayNameFor(model => model.SNo)
        </dt>
        <dd class="col-sm-10" style="visibility:hidden">
            @Html.DisplayFor(model => model.SNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd class="col-sm-10">
            <img src="~/images/@Html.DisplayFor(model => model.ImagePath)" width="100px" height="100px" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PizzaName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PizzaName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class="col-sm-2">
            <i class="fa fa-inr"></i> @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            <i class="fa fa-inr"></i> @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a href="@Url.Action("PlaceOrder","OrderPlace",  new { id = Model.SNo, val = "Add" })" class="=btn btn-info btn-lg">

        <span>
            Add To Cart
        </span>
        <i class="fa fa-angle-double-right"></i>
    </a> |
    <a href="@Url.Action("Index","OrderPizza")" class="btn btn-info btn-lg">
        <span>
            Back To Menu
        </span>
        <i class="fa fa-angle-double-right"></i>
    </a>
</div>